bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
.vs/
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
**/Properties/launchSettings.json
